html { scroll-behavior: smooth; }
body { 
    background-color: grey;
    color: white;
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
main { font-size: 1.3rem; }

/* Nav bar */
body>header {
    display: flex;
    padding: 1rem 3vw;
    align-items: center;
    background-color: darkslategray;
    font-size: 1.5rem;
}
.nav-logo { 
    display: flex;
    align-items: center;
    margin-right: auto;
}
.nav-logo a {
    display: flex;
    align-items: center;
}
.nav-logo img {
    margin-right: 1em;
    height: 2.5em;
}
h1 { 
    margin: 0; 
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: unset;
}
#mobile-nav-btn, #mobile-nav-lbl {
    display: none;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-link { 
    display: block;
    padding: 0 0.5em;
    font-weight: bold;
}
.nav-dropdown {
    position: relative;
    overflow: visible;
}
.nav-dropdown ul { 
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    margin: 0;
    right: 0;
    width: max-content;
    padding: 0.2em;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav-dropdown:hover ul {
    transform: scaleY(1);
}
.nav-link img {
    height: 0.6em;
    padding-left: 0.2em;
}

/* General */
.center-txt, figure { text-align: center; }
.fine-print { 
    margin: 0;
    padding: 0;
}
.icon { 
    position: relative;
    top: 1em;
    height: 2.5em; 
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 2em 1fr;
}
#hierarchy {
    position: relative;
    background-color: dimgray;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    padding: 1em 0.3em;
}
#hierarchy .spacesList {
    border-left: 1px solid white;
    margin: 0.1em 0 0.5em 0.5em;
}
#hierarchy ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.droparrow {
    padding: 0;
    margin: 0;
    height: 1em;
    background-color: transparent;
    border: none;
}
.droparrow img {
    height: 100%
}
#apiremaining {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}
#tasks {
    overflow: auto;
    background-color: rgb(75, 75, 75);
}
.boardView {
    /*scrollable, flex,  consistent size items, full height*/
    display: flex;
    margin: 0;
    padding: 1em 1.5em 0;
    height: 100%;
    width: max-content;
    box-sizing: border-box;
}
.group {
    background-color: rgb(80, 80, 80);
    width: 11em;
    margin: 0 1em;
}
.groupHead {
    margin-top: 0;
    padding: 0.2em;
    background-color: lightslategrey;
    border-top: 5px solid grey;
}
.groupHead .count {
    margin: 0 0.5em;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    background-color: mediumblue;
}
.groupTasks {
    height: 74vh;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
}
.task {
    background-color: rgb(105, 105, 105);
    margin: 0.5em 0;
    border-radius: 1em;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs"
                         "name        name        assignee"
                         "priority    dates       dates"
                         "tags        tags        tags";
}
.task .breadCrumbs {
    grid-area: breadcrumbs;
    font-size: 0.7em;
}
.task .taskName {
    grid-area: name;
    margin: 0;
}
.task .assignee {
    grid-area: assignee;
    width: 20px;
}
.task .taskPriority {
    grid-area: priority;
    width: 20px;
}
.task .taskDate {
    grid-area: dates;
}
#controls {
    display: flex;
    align-items: center;
    justify-content: end;
}
#controls select {
    margin-right: 1em;
}
#instructions {
    width: 80%;
    text-align: center;
    margin: auto;
}

/* 
TODO: Style error popup. 
TODO: Organize this css.
TODO: Comment this CSS.
TODO: Improve responsiveness.
TODO: Improve scrollbar.
*/

/* Responsive breakpoints */
@media only screen and (max-width: 1320px) {
    .tagline { display: none; }
}
@media only screen and (max-width: 900px) {
    .tagline { display: none; }
    header, main {
        font-size: unset;
    }
    .nav-bar { 
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: grey;
        font-size: 2em;
    }
    .nav-logo {
        height: 2em;
    }
    .nav-link {
        border-bottom: 1px solid black;
    }
    #mobile-nav-lbl {
        display: block;
        height: 2em;
        cursor: pointer;
    }
    #mobile-nav-lbl img {
        height: 100%;
    }
    #mobile-nav-btn:checked+.nav-bar {
        display: block;
    }
    .nav-dropdown ul {
        display: none;
        position: static;
    }
    .nav-dropdown:hover ul {
        display: block;
    }
}