html { scroll-behavior: smooth; }
body { 
    background-color: grey;
    color: white;
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
main { font-size: 1.3rem; }

/* Nav bar */
body>header {
    display: flex;
    padding: 1rem 3vw;
    align-items: center;
    background-color: darkslategray;
    font-size: 1.5rem;
}
.nav-logo { 
    display: flex;
    align-items: center;
    margin-right: auto;
}
.nav-logo a {
    display: flex;
    align-items: center;
}
.nav-logo img {
    margin-right: 1em;
    height: 2.5em;
}
h1 { 
    margin: 0; 
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: unset;
}
#mobile-nav-btn, #mobile-nav-lbl {
    display: none;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-link { 
    display: block;
    padding: 0 0.5em;
    font-weight: bold;
}
.nav-dropdown {
    position: relative;
    overflow: visible;
}
.nav-dropdown ul { 
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    margin: 0;
    right: 0;
    width: max-content;
    padding: 0.2em;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav-dropdown:hover ul {
    transform: scaleY(1);
}
.nav-link img {
    height: 0.6em;
    padding-left: 0.2em;
}

/* General */
.center-txt, figure { text-align: center; }
.fine-print { 
    margin: 0;
    padding: 0;
}
.icon { 
    position: relative;
    top: 1em;
    height: 2.5em; 
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 2em 1fr;
}
#hierarchy {
    position: relative;
    background-color: dimgray;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    padding: 1em 2em;
}
#hierarchy ul {
    margin: 0;
    padding: 0;
}
.droparrow {
    padding: 0;
    margin: 0;
    height: 1.5em;
}
.droparrow img {
    height: 100%
}
#apiremaining {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

/* Responsive breakpoints */
@media only screen and (max-width: 1320px) {
    .tagline { display: none; }
}
@media only screen and (max-width: 900px) {
    .tagline { display: none; }
    header, main {
        font-size: unset;
    }
    .nav-bar { 
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: grey;
        font-size: 2em;
    }
    .nav-logo {
        height: 2em;
    }
    .nav-link {
        border-bottom: 1px solid black;
    }
    #mobile-nav-lbl {
        display: block;
        height: 2em;
        cursor: pointer;
    }
    #mobile-nav-lbl img {
        height: 100%;
    }
    #mobile-nav-btn:checked+.nav-bar {
        display: block;
    }
    .nav-dropdown ul {
        display: none;
        position: static;
    }
    .nav-dropdown:hover ul {
        display: block;
    }
}